/* Add Doctor Button */
.add-doctor-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    /* background-color: #0096FF; */
    /* background-color: #1F51FF; */
    background-color:   #024d82;

    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-doctor-btn:hover {
    /* background-color:  #37474f; */
    background-color:   #0e6aab;
    color: #000;

}

/* General container styles */
.doctor-list-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Ensure the button is positioned correctly */
}
.heading{
    color: #ffffff;
    font-size: 40px;
}
/* Table Styles */
.doctors-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.doctors-table th,
.doctors-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.doctors-table th {
    /* background-color: #0096FF; */
    background-color:   #024d82;

    color: white;
    font-weight: bold;
}

.doctors-table td {
    background-color: #ffffff;
}

.doctor-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #0096FF; */
    border: 2px solid  #024d82;
}




