/* Add Patient Button */
.add-patient-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  /* background-color: #37474f; */
  background-color:   #024d82;

  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-patient-btn:hover {
  /* background-color: #0096FF; */
  /* background-color: #1a237e; */
  background-color:   #0e6aab;
  color: #000;

}

/* General container styles */
.patient-list-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  /* Ensure the button is positioned correctly */
}

/* Table Styles */
.patients-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.patients-table th,
.patients-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.patients-table th {
  /* background-color: #0096FF; */
  background-color:   #024d82;

  color: white;
  font-weight: bold;
}

.patients-table td {
  background-color: #ffffff;

  /* background-color: rgb(220, 230, 245); */
}

.patient-image {
  width: 50px;
  height: 50px;
  margin-left: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid  #024d82;
}

/* --------------------------------------------------------------- */
/* General Modal Styling */
.custom-modal .modal-dialog {
  max-width: 50%;
  margin: 120px auto;
}