/* Footer Styling */
.footer {
    background-color: #59666c;
    /* Dark background color */
    color: #ffffff;
    /* White text color */
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    height: 200px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-logo {
    flex: 1;
    max-width: 250px;
}

.footer-logo img {
    width: 100%;
    max-width: 180px;
    margin-left: 60px;
}

.footer-logo p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f0f0f0;
    margin-left: 26px;
}

.footer-links,
.footer-contact {
    flex: 1;
    max-width: 220px;
    
}

.footer-links h4,
.footer-contact h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 10;
}

.footer-links li {
    margin: 8px 0;
}

.footer-links a,
.footer-contact a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    
    

}

.footer-links a:hover,
.footer-contact a:hover {
    text-decoration: underline;
}

.footer-contact p {
    font-size: 1rem;
    margin: 8px 0;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1px;
}

.social-media a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    margin-bottom: -10px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo,
    .footer-links,
    .footer-contact {
        max-width: 100%;
    }

    .footer-links,
    .footer-contact {
        margin-top: 20px;
    }

    .social-media {
        margin-top: 10px;
    }
}