 

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.content {
    display: flex;
    /* margin-left: 300px; */
    overflow: hidden;
    flex: 1;
}

.main-content {
    background-image: linear-gradient(180deg, #6c91c9, #e3f2fd);
    /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
    /* background-image: linear-gradient(180deg, #266fdc, #e3f2fd); */

    /* background-color: #f8f9fa; */
    /* Light gray background */
    /* padding: 20px; */
    flex: 1;
    overflow-y: auto;

}